<h1> Computer index </h1>
<% if @computers.nil? %>
Currently No Listings
<% else %>
<%= button_to 'Home', root_path, :class=> "btn btn-danger", :method => :get%>
<br>
  <%= form_tag computers_path, :method => 'get' do %>
    <div id="accordion">
    <h5> Search by word </h5>
      <div>
        <%= select_tag "option", options_for_select(['Everything', 'Users', 'Cpus', 'Motherboard', 'Graphics Cards', 'Cases', 'RAM', 'Storage'].map{|o|[o.humanize,o]}) %>
        <%= text_field_tag :search, params[:search] %>
      </div>
    <h5> Search by Price or Quality <h5>
      <div>
        Price Range: <%= text_field_tag :min, params[:min] %> - <%= text_field_tag :max, params[:max] %>
        <br>
        <br>
        Quality: <%= select_tag "quality", options_for_select(['','new', 'okay', 'good', 'poor'].map{|o|[o.humanize,o]}) %>
      </div>
    </div>
    <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <table class="table table-hover">
    <thread>
      <tr>
        <th style="text-align: center", bgcolor="#b3ffb3"> User </th>
        <th style="text-align: center", bgcolor="#ccffff"> CPU </th>
        <th style="text-align: center", bgcolor="#ffccff"> Graphics Card </th>
        <th style="text-align: center", bgcolor="#ccccff"> Motherboard </th>
        <th style="text-align: center", bgcolor="#ffcccc"> RAM </th>
        <th style="text-align: center", bgcolor="#ccffcc"> Storage </th>
        <th style="text-align: center", bgcolor="#b3ffb3"> Case </th>
	<th style="text-align: center", bgcolor="#ffccff"> Quality </th>
        <th style="text-align: center", bgcolor="#ccccff"> Price </th>
        <th style="text-align: center", bgcolor="#ffffff"> Contact: </th>
      <tr>
    </thread>
    <tbody>
      <% @computers.each do |computer| %>
      <tr>
        <td style="text-align: center", bgcolor="#b3ffb3"> <%= computer.user.name %> </td>
        <td style="text-align: center", bgcolor="#ccffff"><% if computer.cpu != nil %>
              <%= computer.cpu.name %>
            <% end %></td>
        <td style="text-align: center", bgcolor="#ffccff"><% if computer.gcard != nil %>
              <%= computer.gcard.name %>
            <% end %></td>
        <td style="text-align: center", bgcolor="#ccccff"><% if computer.mboard != nil %>
              <%= computer.mboard.name %>
            <% end %></td>
       <td style="text-align: center", bgcolor="#ffcccc"><% if computer.ram != nil %>
              <%= computer.ram.name %>
            <% end %></td>
       <td style="text-align: center", bgcolor="#ccffcc"><% if computer.harddrive != nil %>
              <%= computer.harddrive.name %>
            <% end %></td>

        <td style="text-align: center", bgcolor="#b3ffb3"><% if computer.case !=nil %>
              <%= computer.case.name %>
            <% end %></td>
        <td style="text-align: center", bgcolor="#ffccff"><%= computer.quality %></td>
        <td style="text-align: center", bgcolor="#ccccff">$<%= computer.price %></td>
        <td style="text-align: center"> <%= computer.user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= button_to 'Home', root_path, :class=> "btn btn-danger", :method => :get %>

