<h1> Computer index </h1>
<% if @computers.size >= 1 %>
<%= button_to 'Back', root_path, :class=>"button", :method => :get %>
<br>
  <table cellpadding="3" border="1" cellpadding="1">
    <thread>
      <tr>
        <th> User </th>
        <th> CPU </th>
        <th> Graphics Card </th>
        <th> Motherboard </th>
        <th> Case </th>
	<th> Quality </th>
        <th> Price </th>
        <th> Contact: </th>
      <tr>
    </thread>
    <tbody>
      <% @computers.each do |computer| %>
      <tr>
        <td style="text-align: center"> <%= computer.user.name %> </td>
        <td style="text-align: center"><% if computer.cpu != nil %>
              <%= computer.cpu.name %>
            <% end %></td>
        <td style="text-align: center"><% if computer.gcard != nil %>
              <%= computer.gcard.name %>
            <% end %></td>
        <td style="text-align: center"><% if computer.mboard != nil %>
              <%= computer.mboard.name %>
            <% end %></td>
        <td style="text-align: center"><% if computer.case !=nil %>
              <%= computer.case.name %>
            <% end %></td>
        <td style="text-align: center"><%= computer.quality %></td>
        <td style="text-align: center">$<%= computer.price %></td>
        <td style="text-align: center"> <%= computer.user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= button_to 'Back', root_path, :class=>"button", :method => :get %>
