<h1> Computer index </h1>
<% if @computers.nil? %>
Currently No Listings
<% else %>
<%= button_to root_path, :class=> "btn btn-danger", :method => :get do %>
  <i class="glyphicon glyphicon-home"></i>
<% end %>
<br>
  <%= form_tag computers_path, :method => 'get' do %>
    <p>
    <%= select_tag "option", options_for_select(['Everything', 'Users', 'Cpus', 'Motherboard', 'Graphics Cards', 'Cases'].map{|o|[o.humanize,o]}) %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <table class="table table-hover">
    <thread>
      <tr>
        <th style="text-align: center", bgcolor="#b3ffb3"> User </th>
        <th style="text-align: center", bgcolor="#ccffff"> CPU </th>
        <th style="text-align: center", bgcolor="#ffccff"> Graphics Card </th>
        <th style="text-align: center", bgcolor="#ccccff"> Motherboard </th>
        <th style="text-align: center", bgcolor="#ccccff"> RAM </th>
        <th style="text-align: center", bgcolor="#ccccff"> Storage </th>
        <th style="text-align: center", bgcolor="#ffcccc"> Case </th>
	<th style="text-align: center", bgcolor="#ffffcc"> Quality </th>
        <th style="text-align: center", bgcolor="#ccffcc"> Price </th>
        <th style="text-align: center", bgcolor="#ffffff"> Contact: </th>
      <tr>
    </thread>
    <tbody>
      <% @computers.each do |computer| %>
      <tr>
        <td style="text-align: center", bgcolor="#b3ffb3"> <%= computer.user.name %> </td>
        <td style="text-align: center", bgcolor="#ccffff"><% if computer.cpu != nil %>
              <%= computer.cpu.name %>
            <% end %></td>
        <td style="text-align: center", bgcolor="#ffccff"><% if computer.gcard != nil %>
              <%= computer.gcard.name %>
            <% end %></td>
        <td style="text-align: center", bgcolor="#ccccff"><% if computer.mboard != nil %>
              <%= computer.mboard.name %>
            <% end %></td>
       <td style="text-align: center", bgcolor="#ccccff"><% if computer.ram != nil %>
              <%= computer.ram.name %>
            <% end %></td>
       <td style="text-align: center", bgcolor="#ccccff"><% if computer.harddrive != nil %>
              <%= computer.harddrive.name %>
            <% end %></td>

        <td style="text-align: center", bgcolor="#ffcccc"><% if computer.case !=nil %>
              <%= computer.case.name %>
            <% end %></td>
        <td style="text-align: center", bgcolor="#ffffcc"><%= computer.quality %></td>
        <td style="text-align: center", bgcolor="#ccffcc">$<%= computer.price %></td>
        <td style="text-align: center"> <%= computer.user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= button_to root_path, :class=> "btn btn-danger", :method => :get do %>
  <i class="glyphicon glyphicon-home"></i>
<% end %>
