<h1>Your computer listings</h1>


  <table class="table table-hover">
    <thread>
      <tr>
        <th style="text-align: center"> Listing </th>
        <th style="text-align: center"> CPU </th>
        <th style="text-align: center"> Graphics Card </th>
        <th style="text-align: center"> Motherboard </th>
        <th style="text-align: center"> RAM </th>
        <th style="text-align: center"> Storage </th>
        <th style="text-align: center"> Case </th>
        <th style="text-align: center"> Quality </th>
        <th style="text-align: center"> Price </th>
        <th></th>
      <tr>
    </thread>
    <tbody>
      <% current_user.computers.each_with_index do |computer, index| %>
      <tr>
        computer id:<%= computer.id %>
        <td style="text-align: center"> <%= index+1 %> </td>
        <td style="text-align: center"><% if computer.cpu != nil %>
              <%= computer.cpu.name %>
            <% end %></td>
        <td style="text-align: center"><% if computer.gcard != nil %>
              <%= computer.gcard.name %>
            <% end %></td>
        <td style="text-align: center"><% if computer.mboard != nil %>
              <%= computer.mboard.name %>
            <% end %></td>
        <td style "text-align: center"><% if computer.ram != nil %>
              <%= computer.ram.name %>
            <% end %></td>
        <td style "text-align: center"><% if computer.harddrive != nil %>
              <%= computer.harddrive.name %>
            <% end %></td>
        <td style="text-align: center"><% if computer.case !=nil %>
              <%= computer.case.name %>
            <% end %></td>
        <td style="text-align: center"> <%= computer.quality %> </td>
        <td style="text-align: center"> <%= computer.price %></td>
        <td style="text-align: center"> <%= button_to computer, :class=>"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <% end %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= button_to 'Create a Listing', new_computer_path, :class=>"btn btn-danger", :method => :get %>
<%= button_to root_path, :class=>"btn btn-danger", :method => :get do %>
<i class="glyphicon glyphicon-home"></i>
<% end %>
